
@font-face {
    font-family: 'Alegreya';
    src: url('../fonts/subset-AlegreyaSansSC-Black.woff') format('woff2'),
    url('../fonts/subset-AlegreyaSansSC-Black.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root {
    --yellow: #ffbc2f;
    --blackheader: #2b2b2b;
    --red: #d82727;
    --blackbg: #212121;
    --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
    --linedText: 'alegreya', Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    font: 16px / 1.42 "Roboto", Arial, sans-serif;
    color: var(--blackbg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fcf5e6;
}


.header__content {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.header-second {
    background: url("../img/bg/hero.jpg") center center / cover no-repeat;
    height: 180px;
    margin-bottom: 90px;
    position: relative;
    overflow: hidden;
}

.banner__second {
    width: 516px;
    height: 183px;
    position: absolute;
    display: flex;
    background: url("../img/decor/header-guys.png") center -22px / contain no-repeat;
    margin-left: 28%;
    background-size: 88%;
}

.lined-text__second {
    font-size: 30px;
    color: #fff;
    margin-left: -25%;
}

.tshirt__container {
    margin: 0 auto;
    width: 1100px;
}

.single-item {
    width: 100%;
    height: 668px;
    background: var(--yellow);
    margin-bottom: 93px;
}

.single-item__pic {
    margin: 0 0;
    height: 668px;
    width: 536px;
    position: relative;
    display: inline-block;
}

.single-item__photo {
    position: absolute;
}

.single-item__photo__no-ident {
    opacity: 0;
}

.tshirt-colors {
    width: 495px;
    height: 445px;
    margin-top: 115px;
    margin-left: 28px;
}

.tshirt-info {
    display: inline-block;
    position: absolute;
    height: 648px;
    width: 555px;
    margin-top: 10px;
    background: #fcf5e6;
    margin-left: -1px;
}

.tshirt-name {
    margin-top: 20px;
    margin-left: 30px;
}

.tshirt-name__yellow {
    color: var(--yellow);
    font-size: 20px;
    font-weight: bold;
}

.tshirt-name__header {
    margin-left: 30px;
}

.tshirt__header {
    text-transform: uppercase;
    color: var(--blackheader);
    font-family: var(--titlesFont);
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.tshirt-price {
    margin-left: 30px;
}

.tshirt-price__yellow {
    font-family: var(--titlesFont);
    color: var(--blackheader);
    font-size: 40px;
    background: var(--yellow);
    padding-bottom: 2px;
    padding-left: 15px;
    padding-top: 7px;
    padding-right: 15px;
    font-weight: bold;
}

.light-line {
    color: #d9d9d9;
    margin-top: 15px;
    opacity: 30%;
}

.tshirt-description {
    margin-top: 20px;
    margin-left: 30px;
}

.tshirt-description__item {
    color: var(--blackheader);
    font-weight: normal;
    padding-bottom: 10px;
}

.tshirt-size {
    margin-left: 30px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tshirt-size__item {
    border: 1px solid #d9d9d9;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
}

.tshirt-size__item-active {
    background: var(--yellow);
}

.tshirt-size__item-out {
    color: #d9d9d9;
}

.color-choise {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    margin-bottom: 20px;
}
.color-choise__btn-round {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 25px;
    display: flex;
    box-sizing:border-box;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}

.color-choise__btn-round__active:focus {
    width: 28px;
    height: 28px;
    color: var(--yellow);
}

:focus {outline:none;}

.color-choise__btn-round-black {
    background: black;
}

.color-choise__btn-round-white {
    background: #fff;
    border: 1px lightgray solid;
}

.color-choise__btn-round-green {
    background: green;
}

.color-choise__btn-round-blue {
    background: blue;
}

.color-choise__btn-round-red {
    background: red;
}

.btn__tshirt {
    width: 130px;
    text-align: center;
    margin-left: 30px;
}

.main-description__banner {
    width: 1080px;
    height: 300px;
    border: 10px solid var(--yellow);
    display: none;
}

.tshirt__container {
    margin-bottom: 100px;
    position: relative;
}

.main-banners__visible {
    display: flex;
}

.main-description__items {
    margin-right: 45px;
    margin-top: 53px;
    width: 350px;
}

.washing__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: auto;
}

.description-text {
    padding-left: 45px;
    font-size: 14px;
    color: var(--blackheader);
    display: block;
}

.main-description__washing {
    padding-bottom: 20px;
    padding-left: 45px;
}

.vertical-line {
    position: absolute;
    display: flex;
    border-left: 1px solid #d9d9d9;
    margin-left: 350px;
    height: inherit;
}

.tshirt-description {
    margin-right: 100px;
    width: 600px;
    font-size: 14px;
    color: var(--blackheader);
    margin-top: 55px;
}

.filter {
    margin-bottom: 70px;
}

.express-logo {
    margin: auto auto;
}

.main-description__banner__express {
    height: 260px;
}

.tshirt-description__express {
    margin-top: 35px;
}

.main-description__banner__harly {
    height: 200px;
}

.harly {
    height: 56px;
    width: 254px;
}

.harly-logo {
    margin: auto auto;
}

.main-description__banner__sizes {
    height: 430px;
}

.banner-sizes {
    margin: auto auto;
}

.sizes__tshirt {
    width: 250px;
    height: 220px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.rules {
    margin-left: 45px;
}

.item-rule {
    font-size: 12px;
    color: var(--blackheader);
}

.sizes-table {
    display: flex;
    margin-left: 50px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #d9d9d9;
}

th {
    height: 61px;
    width: 74px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: #f3efe7;
}

td {
    height: 41px;
    width: 74px;
    font-size: 12px;
    text-align: center;
}

th:first-child {
    width: 160px;
    text-align: left;
    padding-left: 15px;
}

td:first-child {
    width: 160px;
    text-align: left;
    padding-left: 15px;
}