
.header__content {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.header-second {
    background: url("../img/bg/hero.jpg") center center / cover no-repeat;
    height: 180px;
}